/* https://developers.google.com/web/updates/2016/02/font-display */
@font-face {
  font-family: 'Bravura';
  font-display: block;
  src: url(assets/Bravura.woff2) format("woff2"),
  url(assets/Bravura.woff) format("woff");
}
