* {
  padding: 0;
  margin: 0;
  --color-bg: #232731;
  --color-bg-accent: #536266;
  --color-font: #f2f2f2;
  --color-primary: #bc3e5b;
}

ul {
  list-style: none;
}

a {
  color: var(--color-bg-accent);
  text-decoration: none;
}

body {
  background: var(--color-bg);
  color: var(--color-font);
  font-family: 'Fredoka', sans-serif;
}


.solsido {
  display: flex;
  flex-flow: column;
  font-size: 1.3em;
}

.solsido section {
  margin: 1em 0.4em;
}

.solsido section ul,
.solsido section p {
  margin: 0.4em;
}

.solsido section h2 {
  display: inline-block;
  border-bottom: 0.2em solid var(--color-primary);
  padding-right: 2em;
}

.solsido section h3 {
  display: inline-block;
  border-bottom: 0.1em solid var(--color-primary);
  padding-right: 0.8em;
}

.solsido .m-wrap {
  margin: 0.2em 0;
  border-radius: 0.1em;
  overflow: hidden;
  box-shadow: 0.03em 0.03em 0.01em black;
}

.solsido .subtitle {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
