.m-wrap {
  user-select: none;
  font-family: Bravura;
  display: flex;
  flex-flow: column;
}

staff {
  width: 100%;
  height: 4em;
  position: relative;
  background: white;
  color: black;
}

staff lines,
.free-staff lines {
  width: 100%;
  position: absolute;
  top: 2em;
  transform: translate(0, -50%);
  display: flex;
  flex-flow: column;
  align-items: stretch;
}


lines line {
  padding-bottom: calc(0.25em - 0.03em);
  border-top: 0.03em solid black;
}

lines line:last-child {
  padding-bottom: 0;
}


staff > span {
  position: absolute;
  font-size: 1em;
  line-height: 4em;
}

staff > span .text {
  font-size: 0.25em;
  font-weight: bold;
  vertical-align: sub;
  margin: 0.75em 0.5em;
  position: absolute;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

staff > span.ledger {
  top: 2em;
  left: -0.25em;
  border-top: 0.03em solid black;
  width: 1em;
}

staff > span.bar {
  border-left: 0.03em solid black;
  top: 2em;
  height: 1em;
}

staff > span.dot {
  top: calc(2em - 0.05em);
  left: 0.4em;
  width: 0.1em;
  height: 0.1em;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.free-staff > span.rest.whole,
staff > span.rest.whole {
  top: -0.25em;
}

staff > span.stem,
.free-staff > span.stem {
  border-left: 0.03em solid black;
  width: 1em;
  height: 1em;
  top: 2em;
}

span.stem.up {
  left: calc(0.25em + 0.0125em);
  top: 1em;
}

grand {
  position: relative;
  background: white;
  display: flex;
  flex-flow: column;
}

grand .staff-line {
  position: absolute;
  border-left: 0.03em solid black;
  height: 5em;
  left: 0.5em;
  top: calc(2em - 0.5em);
}

grand span.brace {
  position: absolute;
  color: black;
  top: -0.72em;
  font-size: 5em;
}

grand staff {
  margin-left: 0.5em;
}


.free-staff {
  position: relative;
  font-family: Bravura;
  font-size: 1.5em;
}

.free-staff lines {
  top: 0em;
}

.free-staff span {
  position: absolute;
}

staff span.zero-note {
  color: orange;
  opacity: 0.5;
}

staff span.active {
  opacity: 0.6;
}

.playback {
  position: absolute;
  width: 100%;
  height: 100%;
}

.playback .cursor {
  position: absolute;
  top: 2em;
  width: 1em;
  height: 2em;
  border-left: 0.03em solid orange;
  transform: translate(0, -50%);
}

.playback .measure {
  position: absolute;
  top: 2em;
  padding-left: 0.25em;
  font-size: 0.25em;
  display: flex;
  gap: 0.25em;
}

.playback .measure span {

}
