* {
  padding: 0;
  margin: 0;
  --color-bg: #232731;
  --color-bg-accent: #536266;
  --color-font: #f2f2f2;
  --color-primary: #bc3e5b;
  --color-bg-secondary: #3c4a54;
  --color-secondary: #f0968c;
}

ul {
  list-style: none;
}

a {
  color: var(--color-bg-accent);
  text-decoration: none;
}

body {
  background: var(--color-bg);
  color: var(--color-font);
  font-family: 'Fredoka', sans-serif;
}

table {
  box-shadow: 0.02em 0.02em 0.2em black;
}

table, th, td {
  background: white;
  color: black;
  border-collapse: collapse;
  border: 0.06em solid var(--color-bg);
  padding: 0.4em;
}

